body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.day-theme {
    background-color: #f4f4f4;
    color: #000;
}

body.night-theme {
    background-color: #333;
    color: #fff;
}

body.night-theme .container {
    background-color: #444;
    color: #fff;
}

body.night-theme .resource-item {
    background-color: #555;
    border-color: #666;
}

body.night-theme .download-button {
    background-color: #007bff;
}

body.night-theme .download-button:hover {
    background-color: #0056b3;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
    position: relative;
}

.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.resource-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.resource-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s;
}

.resource-item:hover {
    background-color: #f1f1f1;
    transform: translateY(-3px);
}

.resource-item:active {
    transform: translateY(1px);
}

.resource-info {
    display: flex;
    align-items: center;
}

.resource-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.resource-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.resource-name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.resource-version-size {
    font-size: 14px;
    color: #666;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.download-button:active {
    transform: translateY(1px);
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}

#themeToggle {
    background: none;
    border: none; /* 去掉外围颜色 */
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    position: absolute;
    top: 20px;
    left: 20px;
}

/* 移除悬停和点击时的背景颜色变化 */
#themeToggle:hover {
    background-color: none;
    color: inherit;
}

#themeToggle:active {
    background-color: none;
    color: inherit;
}

.download-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.download-modal.show {
    opacity: 1;
}

.download-modal.day-theme .modal-content {
    background-color: #fff;
    color: #000;
}

.download-modal.night-theme .modal-content {
    background-color: #444;
    color: #fff;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 400px;
    width: 100%;
}

.modal-resource-icon {
    width: 80px; /* 调整大小 */
    height: 80px; /* 调整大小 */
    border-radius: 25%; /* 调整圆角 */
    margin-bottom: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.confirm-download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 20px;
}

.confirm-download-button:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

.confirm-download-button:active {
    transform: translateY(1px);
}
