
@media screen and (max-width: 767px) {
    body {
        background: black;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    #c1 {
        background: #fbf7fe;
        position: fixed;
        left: 450px;
        top: 0px;
    }

    #main {
        transform-origin: 0px 0px;
        position: fixed;
        left: 450px;
        top: 0px;
    }
}

@media (min-width: 1024px) {
    body {
        background: #131115;
        overflow-x: hidden;
        overflow-y: hidden;
        height: 100vh;
    }

    #c1 {
        background: black;
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 0px;
    }

    #main {
        transform-origin: 0px 0px;
        position: fixed;
        left: 450px;
        top: 0px;
    }
}