/* 锚点1 */
#anchor1 {
    position: relative;
    top: 260px;
}

/* 锚点2 */
#anchor2 {
    position: relative;
    top: 260px;
}

/* 锚点3 */
#anchor3 {
    position: relative;
    top: 260px;
}

/* 锚点4 */
#anchor4 {
    position: relative;
    top: 260px;
}

/* 锚点5 */
#anchor5 {
    position: relative;
    top: 260px;
}