body {
    background: #131115;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
}

#c1 {
    background: #fbf7fe;
    position: fixed;
    left: calc(55% - 350px);
    top: 0px;
    transform: translateX(-55%);
}

#btn {
    position: fixed;
    left: 0px;
    top: 0px;
}

#main {
    transform-origin: 0px 0px;
    position: fixed;
    left: calc(55% - 350px);
    top: 0px;
    transform: translateX(-55%);
}

#config {
    position: fixed;
    left: 0px;
    top: 30px;
    display: none;
}

#fps {
    font-size: 2em;
    font-weight: bold;
    text-align: right;
    position: fixed;
    right: 10px;
    top: 10px;
    color: red;
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}