body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    display: flex;
    flex-direction: column;
}

.sidebar {
    width: 250px;
    background-color: white;
    position: fixed;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease;
    z-index: 100;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 0;
}

.sidebar.open {
    left: 0;
}

.sidebar img {
    width: 80px;
    border-radius: 50%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.content {
    margin: 0;
    padding: 20px;
}

.button {
    position: fixed;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    z-index: 101;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.toggle-sidebar {
    top: 10px;
    left: 10px;
}

.theme-switcher {
    top: 10px;
    right: 10px;
}

.back-to-top {
    bottom: 20px;
    right: 20px;
    display: none;
    transition: opacity 0.3s ease;
}

/* 日出模式（全白） */
body.sunrise-mode {
    background-color: #ffffff;
    color: #333;
}

.sidebar.sunrise-mode,
.button.sunrise-mode {
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar.sunrise-mode ul li a {
    color: #333;
}

.theme-switcher.sunrise-mode {
    background-color: #ffffff;
}

/* 夜间模式 */
body.night-mode {
    background-color: #333;
    color: #fff;
}

.sidebar.night-mode,
.button.night-mode {
    background-color: #444;
    color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.sidebar.night-mode ul li a {
    color: white;
}

.theme-switcher.night-mode {
    background-color: #444;
}